@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");
.tab {
  display: inline-block;
  margin-left: 20px;
}

.buttonStyle {
  width: 208px;
  height: 47px;
  background: #ff6464;
  border-radius: 2px;
  font-family: Heebo;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.buttonContainer {
  margin-bottom: 20px;
}

.h2Style {
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: #21243d;
}

.pStyle {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #21243d;
}

.container {
  margin-top: 100px;
}

@media screen and (max-width: 700px) {
  .rowContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .h2Style {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .pStyle {
    text-align: center;
  }
  .tab {
    display: none;
    margin-left: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
