.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
